body {
    background: #730E15;
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin: 0;
}

::-webkit-scrollbar {
    display: none;
}

h1 {
    font-size: x-large;
}

section {
    height: 100svh;
}

.s2 {
    background: blue;
}

#scrollThumb {
    position: fixed;
    right: 4px;
    width: 6px;
    height: 64px;
    background-color: goldenrod;
    border-radius: 8px;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    top: 0;
}



